.container-main{
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex: 1 1 70%;
  }
.container-descripcion{
    display: flex;
    flex-direction: column;
}
.parrafo-perfil{
  text-align: center;
  flex-direction: column;
  text-decoration: underline overline violet;
  justify-content: space-between;
}
.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
nav ul {
display: flex;
justify-content: space-around;
}